.endedList {
    margin-top: 30px;
    margin-bottom: 50px;
}
.wasEnded-list .item-title {
    max-width: 420px;
    text-decoration: line-through;
}
.wasEnded-list .item-title {
    color: #c7c7c7;
}
